<div class="row">
	
	<div class="span8">
		<h1>Edit</h1>
		<%= form_for @user, :html => { :multipart => true } do |f| %>
		
			<div>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>
			<div>
				<%= f.label :about %>
				<%= f.text_area :about %>
			</div>	
			<div>
				<%= f.label :avatar %>
			  	<%= f.file_field :avatar %>
			</div>
			<div class="actions">
				<%= f.submit 'Submit', :class => 'btn btn-primary' %>
			</div>

		<% end %>
	</div>
	
	<div class="span4">
		<h3>Welcome</h3>
		<p>We're so glad to have you!</p>
	</div>
</div>