<div class="row">
	
	<div class="span8">
		<h1>Login</h1>
		<%= form_tag authenticate_users_path do %>
			<div>
				<%= label_tag :email %>
				<%= text_field_tag :email %>
			</div>
			<div>
				<%= label_tag :password %>
				<%= password_field_tag :password %>
			</div>

			<div class="actions">
				<%= submit_tag 'Login', :class => 'btn btn-primary' %>
			</div>
	<% end %>
	</div>
	
	<div class="span4">
		<h3>Welcome</h3>
		<p>We're so glad to have you!</p>
	</div>
</div>