<!DOCTYPE html>
<html>
<head>
  <title>Twitta</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
			<a href ="<%= root_path %>" class="brand">Twitta</a>
				<ul	class="nav pull-left">
					<li><%= link_to "Users", users_path %></li>
					<li><%= link_to "About", about_path %>
				</ul>
			<ul class="nav pull-right">
				<% if logged_in? %>
					<ul class="nav nav-pills">
					  <li class="dropdown" id="menu1">
					    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
					      Dropdown
					      <b class="caret"></b>
					    </a>
					    <ul class="dropdown-menu">
					      <li><a href="#">Action</a></li>
					      <li><a href="#">Another action</a></li>
					      <li><a href="#">Something else here</a></li>
					      <li class="divider"></li>
					      <li><a href="#">Separated link</a></li>
					    </ul>
					  </li>
					  ...
					</ul>
					<li><%= link_to current_user.username, current_user %></li>
					<li><%= link_to "Logout", logout_users_path %></li>
				<% else %>
					<li><%= link_to "Sign Up", new_user_path %></li>
					<li><%= link_to "Login", login_users_path %></li>
				<% end %>
			</ul>
	    </div>
	  </div>
	</div>
	<div class="container">
		<% if flash[:error] %>
			<div class="alert alert-error">
				<%= flash[:error] %>
			</div>
		<% end %>
		<% if flash[:success]%>
			<div class="alert alert-success">
				<%= flash[:success] %>
			</div>
		<% end %>
		
		<%= yield %>
		
		<div id="footer">
			<%= link_to 'Home', root_path %>
			<%= link_to 'Users', users_path %>
			<%= link_to 'About', about_path %>
		</div>
	</div>


</body>
</html>
